body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navigation a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.container > * {
    border: 2px solid black;
}

.site-header,
.site-footer {
    background-color: #f4f4f4;
    padding: 10px;
    /* Add properties for flexbox below this comment */
    display: flex;
    justify-content: center;
}
.container {
    display: grid;
    padding: 15px;
    grid-template-columns: 45fr 3fr;
    grid-template-rows: 25fr 2fr;
    gap: 12px;
   justify-content: center;
}
.sidebar {
    display: grid;
    padding: 15px;
    grid-template-rows: 10fr;
}

.site-footer{
    display: flex;
    justify-content:center;
}
.navigation{
    display: flex;
    justify-content: center;
}
 .main-content{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 6fr 2fr 1fr;
    place-self: center;
}
.sidebar {
    display: grid;
    grid-template-rows: 1/4fr 1fr 1fr;
   place-self: center; 
}