body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navigation a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.container > * {
    border: 2px solid black;
}

.site-header,
.site-footer {
    background-color: #f4f4f4;
    padding: 10px 0;
    /* Add properties for flexbox below this comment */
display: flex;
.wrapper {
    display: grid;
}

.wrapper>.container {
    background-color: black;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .col {
        display: flex;
        flex-flow: column;
    }
}
.wrapper>.site-footer{
    display: grid;
    grid-template-rows: 20% 50px
}
.wrapper>container{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
}
}
nav ul {
    display: grid;

}

/* Learners will add the rest of their CSS below this line */
.main-content {
    display: grid;
    justify-content: left;
}