body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navigation a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.container > * {
    border: 2px solid black;
}

.site-header,
.site-footer {
    background-color: #f4f4f4;
    padding: 10px 0;
    /* Add properties for flexbox below this comment */
    display: flex;
    justify-content: center;
}
.container {
    display: grid;
    justify-content: space-between;
    padding: 10px;

    .col {
        display: flex;
        flex-flow: column;
    }
}
.site-footer{
    display: flex;
    justify-content: center;
    grid-template-rows: 20% 50px
}
.navigation{
    display: flex;
    justify-content: center;
}

/* Learners will add the rest of their CSS below this line */
.maincontent{
    display: grid;
    grid-column: 3;
    grid-row: 1/3;
}
.sidebar {
    display: grid;
    grid-column: 2;
    grid-row: 1/2;
}