body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navigation a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.container > * {
    border: 2px solid black;
}

.site-header,
.site-footer {
    background-color: #f4f4f4;
    padding: 10px 0;
    /* Add properties for flexbox below this comment */
.container {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    .col {
        display: flex;
        flex-flow: column;
    }






}


}

/* Learners will add the rest of their CSS below this line */
