* {
    margin: 0;
    padding: 5;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    background-image: url("/images/bg-pattern.svg");
}